<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>158350882171-9u9i2i4m37ppfj62grktcqk3vu8knt70.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.158350882171-9u9i2i4m37ppfj62grktcqk3vu8knt70</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>158350882171-8au78j8slq9ejhmqqdqf1u1pvig362ao.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCQwupiVEUG6lemvc9IwtgzJa3F0aSVK7Y</string>
	<key>GCM_SENDER_ID</key>
	<string>158350882171</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.droidates.wallezApp</string>
	<key>PROJECT_ID</key>
	<string>flutter-wallpaper-apps</string>
	<key>STORAGE_BUCKET</key>
	<string>flutter-wallpaper-apps.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:158350882171:ios:535d518a937ae3bb53b9de</string>
	<key>DATABASE_URL</key>
	<string>https://flutter-wallpaper-apps.firebaseio.com</string>
</dict>
</plist>